.soc-list{
    display: flex;
    position: relative;
    font-size: 20px;
    width: 13%;
    right: -180px;
        padding: 35px;
		align-self: right;
        justify-content: space-between;
     
        
}