@import 'assets/common.scss';
.connect-wallet {
  display: inline-flex;
  @include outline(0);
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 45px;
  background-color: $black;
  color: $white;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
  border: none;
  border-radius: 33px;
  cursor: pointer;
  font-family: 'PP Editorial New';
  font-weight: 900;
  font-size: 14px;
  line-height: 1.6;
  white-space: nowrap;
  &:hover {
    background-color: $white;
    color: $black;
  }
}
