
@import 'assets/common.scss';
.logo-container {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: $black;
  }
}
