@import 'assets/common.scss';
.logo-container {
  display: none;
  @include breakpoint(xl) {
    display: block;
    flex: 0 0 auto;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: $black;
  }
}
