@import 'assets/common.scss';
.header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  height: $header-sm-height;
  padding: 5px 20px;
  @include breakpoint(xl) {
    height: $header-height;
    padding: 15px 35px;
  }
}
// .Hmb {
// }
