@import 'assets/common.scss';
.header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-sm-height;
  padding: 20px 35px;
  border: 1px solid #aaa;
  @media screen and (min-width: 1200px) {
    height: $header-height;
    padding: 15px 35px;
  }
}
