@import 'assets/common.scss';
.third-section {
  display: flex;
  padding: 65px $pad-x 50px;
  background-color: $green;
  @include breakpoint(xl) {
    padding: 130px $pad-x 180px;
    // min-height: 1077px;
  } 
  .third-section-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    @include breakpoint(xl) {
      flex-direction: row;
      align-items: center;
    }
  }
  .left-container {
    @include breakpoint(xl) {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      width: 50%;
      padding: 0 50px 0 100px;
    }
  }
  .img1-container {
    @include breakpoint(lg-down) {
      margin: 0 auto;
      width: 85%;
      max-width: 400px;
    }
    @include breakpoint(xl) {
      width: 90%;
      max-width: 500px;
    }
    .img1 {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
    }
  }
  .right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(lg-down) {
      margin-bottom: 40px;
    }
    @include breakpoint(xl) {
      flex: 1 1 auto;
      width: 50%;
      padding: 0 100px 0 50px;
    }
  }
  .img2-container {
    width: 80%;
    max-width: 500px;
    margin-bottom: 25px;
    @include breakpoint(xl) {
      max-width: 600px;
      margin-bottom: 17px;
    }
  }
  .img2 {
    width: 100%;
    height: auto;
  }
  .text {
    width: 80%;
    max-width: 500px;
    @include breakpoint(xl) {
      max-width: 600px;
    }
    p {
      font-family: $font-base;
      font-weight: 700;
      font-size: 12px;
      line-height: 1.5;
      color: $white;
      text-align: left;
      @include breakpoint(sm) {
        font-size: 16px;
      }
      @include breakpoint(xl) {
        font-size: 20px;
      }
    }
  }
}
