body,
html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}
html {
  box-sizing: border-box;
  min-height: 100%;
  // background: linear-gradient(0deg, $black 0%, $black 50%, $top-background-color 50%,$top-background-color 100%);
  background: $top-background-color;
  // overflow: hidden; //crash the scroll
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {  
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  word-break: break-word;
  background: linear-gradient(0deg, $black 0%, $black 50%, $top-background-color 50%,$top-background-color 100%);
  // overflow: auto;
}
#root{
  height: 100%;
}
label {
  cursor: pointer;
}
img {
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  -webkit-user-drag: none;
}
