
@font-face {
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/SpaceMono-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Druk Wide';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Druk Wide Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'PP Editorial New';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/EditorialNew-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Wicked Mouse';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Wicked Mouse Demo.otf') format('opentype');
}
@font-face {
  font-family: 'PP Editorial New';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/EditorialNew-Heavy.woff2') format('woff2');
}
