
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: url('~/public/fonts/SpaceMono-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Druk Wide';
  font-style: normal;
  font-weight: 700;
  src: url('~/public/fonts/Druk Wide Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'PP Editorial New';
  font-style: normal;
  font-weight: 400;
  src: url('~/public/fonts/EditorialNew-Regular.woff2') format('woff2');
}
// @font-face {
//   font-family: 'Wicked Mouse';
//   font-style: normal;
//   font-weight: 400;
//   src: url('~/public/fonts/Wicked Mouse Demo.otf') format('opentype');
// }
@font-face {
  font-family: 'PP Editorial New';
  font-style: normal;
  font-weight: 900;
  src: url('~/public/fonts/EditorialNew-Heavy.woff2') format('woff2');
}
