.nav { display: flex;
    font-size: 18px;
    width: 50%;
		height: 100px;
        padding: 35px;
		align-self: left;
        justify-content: space-between;
        margin: 10 0 0 0;
        word-spacing: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
}
