.nav {
  padding: 0 30px;
}
.nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 15px;
  margin: 35px;
  font-family: 'Wicked Mouse';
  font-size: 14px;
}
