.nav { display: flex;
       	height: 100px;
        padding:  35px;
        margin: 35px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
}
